@media (max-width:576px){
    .input-div{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .text-area{
        min-height: 880px;
        max-height: 1200px;
        
    }
}